<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bg">
                <h1>Computer Configurator</h1>
                <p>How does it works?</p>
                <p>The webpage will asks you what are your demands, and what you will need this PC for. According to that, the page will be capable of recommending you different configurations which from you will be able to pick freely.</p>
                <p>The webpage will be also counting the ~cost, and the needed power supply for this computer, of course not with a 100% accurate.</p>
            </div>
        </div>
    </div>
</body>
</html>