<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bg">
                <h1>Computer Configurator</h1>
                <p>How does it works?</p>
                <p>This website is about building a type of PC, the algorithm filters everything according to your needs using a national measuring in terms of performance</p>
                <p>In this page you will be able to pick a GPU, CPU, RAM, and a Motherboard too, and by the end the website will also recommends you the needed power supply</p>
            </div>
        </div>
    </div>
</body>
</html>