
  <!--Beginning of Motherboard picking-->
<h1>Pick your {{pickedType}} PCs Motherboard</h1>
<p>The algorithm picked the fitting motherboards for your demands</p>
<select [(ngModel)]="selectedMotherBoardIdentifier" (change)="readyForFilter()">
<option *ngFor="let mbu of motherBoards" [value]="mbu.motherBoardId">
    {{ mbu.motherBoardName }}
</option>
 </select>
  <p><strong>Alaplap név: </strong>{{foundMotherboard.name}}</p>
  <p><strong>Foglalat: </strong>{{foundMotherboard.socket}}</p>
  <p><strong>Videókártya foglalat: </strong>{{foundMotherboard.pcie}}</p>
  <p><strong>Generáció: </strong>{{foundMotherboard.generation}}</p>
  <p><strong>Ár: </strong>{{foundMotherboard.price}}</p>
  
  <button type="submit" class="btn btn-costume" (click)="changeReadyForRam()">OK</button>

  <div *ngIf="readyForRam">
    <h3 class="tit">Pick your needed RAM Amount</h3>
    <select [(ngModel)]="selectedRam">
      <option value="64">64 GB</option>
      <option value="32">32 GB</option>
      <option value="16">16 GB</option>
      <option value="8">8 GB</option>
    </select>
    <p>
      <button type="button" class="btn btn-costume">The PC is done!</button>
    </p>
  </div>
