

<app-navbar></app-navbar>
<app-opener></app-opener>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-10 box">
          <!--PC Type picker-->
          <div *ngIf="page=='pcType'">
            <h1>What is the computer will be for?</h1>
            <label class="custom-radio">
              <input type="radio" name="pc-purpose" class="gaming" (click)="setValue('Gaming')">
              <span class="checkmark"></span>
              Gaming PC
            </label>
            <label class="custom-radio">
              <input type="radio" name="pc-purpose" class="casual" (click)="setValue('Casual')">
              <span class="checkmark"></span>
              Casual PC
            </label>
            <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="productive" (click)="setValue('Work')">
                <span class="checkmark"></span>
                Productive PC
              </label>
              <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="office" (click)="setValue('Office')">
                <span class="checkmark"></span>
                Office PC
              </label>
              <div *ngIf="readyForStageOfCpuBrand">
                <div class="nextPage"><i class="fa-solid fa-arrow-right fa-xl" (click)="goToCpus()"></i></div>
              </div>
          </div>
           <!--CPU Picker beginning-->
           <div *ngIf="page=='cpusOne'">
            <!--An option will be needed according to what the user picked, which means more ngIf here.-->
            <h1>Pick a CPU</h1>

            <!--If the user picked a PC for Gaming or for Casual usage-->
            <div *ngIf="pickedType == 'Gaming' || pickedType == 'Casual'">
              <h3>How strong CPU would you want?</h3>
              <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="gaming" (click)="setCpuDemand('Low')">
                <span class="checkmark"></span>
                Budget but trustworthy
              </label>
              <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="gaming" (click)="setCpuDemand('Medium')">
                <span class="checkmark"></span>
                Decent CPU
              </label>
              <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="gaming" (click)="setCpuDemand('High')">
                <span class="checkmark"></span>
                Strong CPU
              </label>
              <label class="custom-radio">
                <input type="radio" name="pc-purpose" class="gaming" (click)="setCpuDemand('Gaming')">
                <span class="checkmark"></span>
                Just making sure its will be fine in 5 years too
              </label>
              <label for="amdOrIntel">Pick a brand</label>
              <select id="amdOrIntel" name="amdOrIntel" (change)="setBrand($event)">
                <option value="Intel">Intel</option>
                <option value="Amd">Amd</option>
              </select>              
              <div *ngIf="pickedBrand && setCpuDemand">
                <button type="submit" class="btn btn-success" (click)="loadInOptions()">Ye, this is good! Lets continue</button>
              </div>
            </div>

            <div *ngIf="pickedType=='Office'">
              <label for="amdOrIntel">Pick a CPU brand for your Office PC</label>
              <select id="amdOrIntel" name="amdOrIntel" (change)="setBrand($event)">
                <option value="Intel">Intel</option>
                <option value="Amd">Amd</option>
              </select>              
              <div *ngIf="pickedBrand && setCpuDemand">
                <button type="submit" class="btn btn-success" (click)="loadInOptions()">Ye, this is good! Lets continue</button>
              </div>
              <!--If the user only needs an Office PC-->
            </div>

            <div *ngIf="pickedType=='Work'">
              <label for="amdOrIntel">Pick a CPU brand for your Work PC to continue</label>
              <select id="amdOrIntel" name="amdOrIntel" (change)="setBrand($event)">
                <option value="Intel">Intel</option>
                <option value="Amd">Amd</option>
              </select>              
              <div *ngIf="pickedBrand && setCpuDemand">
                <button type="submit" class="btn btn-success" (click)="loadInOptions()">Ye, this is good! Lets continue</button>
              </div>
              <!--If the user needs a Work PC-->
            </div>
            <div *ngIf="readyForStageOfCpuPick">
              <div class="nextPage"><i class="fa-solid fa-arrow-right fa-xl" (click)="goToCpusTwo()"></i></div>
            </div>
          </div>
            <!--CPU Picker end-->
            <div *ngIf="page=='cpusTwo'">
              <label for="amdOrIntel">Its time to pick a CPU for your {{pickedType}} PC!</label>
              <p>The listed Processors will be below here, you can pick any of them freely,
                we picked your options according to your settings needs for {{cpuDemand}} settings for your {{pickedType}} PC
              </p>
              <select [(ngModel)]="selectedCpuIdentifier" (change)="updateReadyForGpuStageOne()">
                <option *ngFor="let cpu of filteredCpusList" [value]="cpu.identifierCpu">
                  {{ cpu.cpuName }}
                </option>
              </select>
              <div *ngIf="readyForGpuStageOne">
                <div class="nextPage"><i class="fa-solid fa-arrow-right fa-xl" (click)="goToGpusOne()"></i></div>
              </div>
            </div>
            <div *ngIf="page=='gpusOne'">
              <h3><strong>Processor name: </strong>{{foundCpu?.cpuName}}</h3>
              <p><strong>Cores:</strong> {{foundCpu?.cpuCores}}</p>
              <p><strong>Performance points: </strong>{{foundCpu?.passMarkPoints}}</p>
              <p><strong>Platform: </strong>{{foundCpu.platform}}</p>
              <p><strong>Release date: </strong>{{foundCpu.releaseDate}}</p>
              <p><strong>Price: </strong>{{foundCpu.cpuPriceUsd}}</p>
              <p><strong>Reccommended settings: </strong>{{cpuDemand}}</p>              
            </div>
            <!--Will need ngIf again for PC types....-->
            <div *ngIf="(pickedType == 'Gaming' || pickedType == 'Casual' || pickedType == 'Work') && readyForGpuStageOne == true && readyForGpuStageTwo == true && page=='gpusOne'">
              <app-gpus></app-gpus>
              </div>
            <h3>Your currently picked configuration so far: {{pickedType}}</h3> 
          </div>
    </div>
</body>
</html>
