footer {
    background-color: #FF7C00;
    font-family: 'Arial', sans-serif;
    padding: 20px 0;
    color: white;  /* A szöveg színét fehérre állítjuk, hogy jól olvasható legyen a narancssárga hátteren */
  }
  